.content
  labe(ng-show="showTitle()") {{ form.title }}
  summernote(ng-show="form.key", schema-validation="form", config="form.options", ng-model="$$value$$")
  span.help-block(sf-message="form.description")
